/* GLOBAL STYLES */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}

/* HEADER STYLES */

.navbar,
.hero,
.footer {
  background-color: #1f2937;
}
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 70px;
}
.nav-links ul {
  display: flex;
  gap: 20px;
}
.logo {
  font-size: 24px;
  font-weight: 700;
}
.logo a {
  color: #fff;
}
.nav-links a {
  color: #d1d5db;
  font-size: 18px;
}
.hero {
  align-items: center;
  display: flex;
  gap: 50px;
  height: 400px;
  justify-content: space-around;
  padding: 50px;
}
.hero-image {
  align-items: center;
  background-color: #6d747d;
  color: #d1d5db;
  display: flex;
  height: 200px;
  justify-content: center;
  padding: 40px;
  width: 400px;
}
.hero-content {
  flex: 1;
  max-width: 400px;
}
.hero-content h1 {
  color: #f9faf8;
  font-size: 48px;
  font-weight: 900;
}
.hero-content p {
  color: #d1d5db;
  font-size: 18px;
  margin: 20px 0;
}

/* BUTTON STYLES */

.button-hero,
.button-callout {
  background-color: #3882f6;
  border-radius: 5px;
  padding: 5px 25px;
}
.button-hero {
  border: 1px solid #3882f6;
}
.button-callout {
  border: 3px solid #f9faf8;
}
.button-hero a,
.button-callout a {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
}

/* INFO SECTION STYLES */

.info-section {
  text-align: center;
}
.info-section h2 {
  color: #1f2937;
  font-size: 36px;
  margin: 20px 0;
}
.info-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 52px;
  justify-content: center;
  margin-bottom: 15px;
  padding: 50px;
}
.info-box {
  max-width: 150px;
}
.info-box p {
  color: #6d747d;
  font-size: 15px;
  margin-top: 10px;
}
.info-img {
  border: 4px solid #3882f6;
  border-radius: 10px;
  height: 150px;
  width: 150px;
}

/* QUOTE SECTION STYLES */

.quote-section {
  background-color: #e5e7eb;
  display: flex;
  justify-content: center;
  padding: 100px;
}
.quote-container {
  align-items: end;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 30px auto;
  max-width: 780px;
  text-align: left;
}
.quote-container .quote-text {
  color: #1f2937;
  font-size: 36px;
  font-style: italic;
  font-weight: 100;
}
.quote-container .quote-author {
  color: #1f2937;
  font-size: 18px;
  font-weight: bold;
}

/* CALL OUT SECTION STYLES */

.call-out {
  align-items: center;
  background-color: #3882f6;
  border-radius: 10px;
  color: #d1d5db;
  display: flex;
  gap: 50px;
  justify-content: space-around;
  margin: 80px auto;
  max-width: 850px;
  padding: 40px 60px;
  text-align: left;
}
.call-out-msg p {
  font-size: 15px;
}

/* FOOTER STYLES */

.footer {
  color: #fff;
  padding: 25px 35px;
  text-align: center;
}
