* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.navbar,
.hero,
.footer {
  background-color: #1f2937;
}
.navbar {
  display: flex;
  padding: 20px 70px;
  justify-content: space-between;
}
.nav-links ul {
  display: flex;
  gap: 20px;
}
.logo {
  font-size: 24px;
}
.logo a {
  color: #fff;
}
.nav-links a {
  color: #d1d5db;
  font-size: 18px;
}
.hero {
  justify-content: space-around;
  display: flex;
  gap: 50px;
  align-items: center;
  padding: 50px;
  height: 400px;
}
.hero-image {
  display: flex;
  padding: 40px;
  background-color: #6d747d;
  color: #d1d5db;
  height: 200px;
  width: 400px;
  justify-content: center;
  align-items: center;
}
.hero-content {
  max-width: 500px;
  flex: 1;
}
.hero-content h1 {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}
.hero-content p {
  font-size: 18px;
  color: #d1d5db;
  margin: 20px 0;
}
.button-hero {
  background-color: #3882f6;
  border: 1px solid #3882f6;
  border-radius: 5px;
  padding: 3px 11px;
}
.button-hero a {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
}
.footer {
  text-align: center;
  padding: 20px;
  color: #fff;
}
