* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.navbar,
.hero,
.footer {
  background-color: #1f2937;
}
.navbar {
  display: flex;
  padding: 20px;
  justify-content: space-around;
}
.nav-links ul {
  display: flex;
  gap: 20px;
}
.logo {
  font-size: 24px;
}
.logo a {
  color: #fff;
}
.nav-links a {
  color: #d1d5db;
  font-size: 18px;
}
.hero {
  border: 1px solid red;
  justify-content: space-around;
  display: flex;
  gap: 50px;
  align-items: center;
  height: 50vh;
}
.hero-content h1 {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}
.hero-content p {
  font-size: 18px;
  color: #d1d5db;
  margin: 20px 0;
}
.footer {
  text-align: center;
  padding: 20px;
  color: #fff;
}
